[gerrit]
        basePath = git
        canonicalWebUrl = http://localhost:8080/gerrit/
        installCommitMsgHookCommand = curl -Lo .git/hooks/commit-msg localhost:8080/gerrit/tools/hooks/commit-msg && chmod +x .git/hooks/commit-msg
#        reportBugUrl = mailto:xxx@163.com?cc=xxx@qq.com&subject=Gerrit feedback
#        reportBugText = Providing Feedback
[database]
        type = mysql
        hostname = localhost
        database = reviewdb
        username = gerrit
[download]
        command = checkout
        command = cherry_pick
        command = pull
        command = format_patch
        scheme = ssh
        scheme = repo_download
[auth]
        type = DEVELOPMENT_BECOME_ANY_ACCOUNT
#        type = LDAP
#[ldap]
#        server = ldap://ldap.net:389/
#        groupBase = dc=groups,dc=net
#        accountBase = ou=auto,ou=Users,dc=groups,dc=net
#        accountBase = ou=Public,dc=groups,dc=net
#        accountPattern = (&(mail=${username}))
#        accountFullName = ${sn}${givenName}
#        accountEmailAddress = mail
#        username = cn=my_admin,ou=admin,dc=groups,dc=net
#        password = xxxxxxxx
#[user]
#        email = xxx@163.com
[sendemail]
        enable = false
#        from = MIXED
#        smtpServer = smtp.xxx.com
#        smtpServerPort = 25
#        smtpUser = xxx@163.com
#        smtpPass = xxxxxxxxx
[container]
        user = gerrit
#        javaOptions = -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:/home/gerrit/review_site/jvm_logs/gc_log -XX:CMSInitiatingOccupancyFraction=50 -XX:+UseConcMarkSweepGC -XX:+UseParNewGC -XX:+CMSParallelRemarkEnabled -XX:+UseCMSCompactAtFullCollection
#        javaHome = /usr/lib/jvm/jdk1.8.0_161/jre
#        heapLimit = 24g
[sshd]
#        threads = 64
        listenAddress = *:29418
[httpd]
        requestLog = true
#        maxThreads = 32
        listenUrl = proxy-http://*:8080/gerrit/
#        maxQueued = 150
[cache]
        directory = cache
[cache "web_sessions"]
        maxAge = 1month
[receive]
        timeout = 60min
[gitweb]
        linkname = gitiles
        url = plugins/gitiles/
        revision = ${project}/+/${commit}
        project = ${project}
        branch = ${project}/+/${branch}
        filehistory = ${project}/+log/${branch}/${file}
[repository "*"]
        defaultSubmitType = REBASE_IF_NECESSARY
[commentlink "changeid"]
        match = (I[0-9a-f]{8,40})
        link = "#q,$1,n,z"
#[commentlink "bugzilla"]
#        match = "(([Bb]ug|[Ff]ix):?\\s+#?)(\\d+)"
#        link = http://bugzilla.com:8000/show_bug.cgi?id=$3
#[commentlink "redmine"]
#        match = "([Ii]ssue:?\\s+#?)(\\d+)"
#        link = http://xxx.net/redmine/issues/$2
#[commentlink "email"]
#        match = ([0-9a-z]+@163.com)
#        link = mailto:$1
[commitmessage]
        maxSubjectLength = 65
        maxLineLength = 70
        rejectTooLong = false
[index]
        type = LUCENE
[addreviewer]
        maxAllowed = 30

